<div class="pizza-container" style="margin-top: 2px;">
    <mat-card>
      <mat-card-header>
        <mat-card-title style="margin-left: -10px;">Peter's Pizza Selection Component</mat-card-title>
      </mat-card-header>
      <mat-card-content class="pizza-items-container">
        <div class="pizza-item" *ngFor="let pizza of pizzaMenu" [class.selected]="pizza === selectedPizza" (click)="selectPizza(pizza)">
          <mat-card>
            <mat-card-title>{{ pizza.name }}</mat-card-title>
            <mat-card-subtitle>Price: ${{ pizza.price.toFixed(2) }}</mat-card-subtitle>
            <mat-card-content>
              <p>{{ pizza.description }}</p>
            </mat-card-content>
            <button mat-raised-button color=accent class="order-button" (click)="placeOrder()">Order</button>
          </mat-card>
        </div>
      </mat-card-content>
      <mat-card-content *ngIf="selectedPizza" class="selected-pizza">
        <p>Selected Pizza: {{ selectedPizza.name }}</p>
      </mat-card-content>
    </mat-card>
</div>
  